body{
    background:#F8FAFC;
    font-family:'Segoe UI',sans-serif;
    color:#334155;
    overflow:hidden;
}

/* WRAPPER */
#wrapper{
    display:flex;
    height:100vh;
}

.navbar-custom{
    background:#4F46E5;
    height:60px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
}

.content-area {
    margin-top: 60px;
}

/* SIDEBAR */
#sidebar-wrapper{
    position:fixed;
    left:0;
    top:0;
    width:260px;
    height:100vh;
    background:#1E293B;
    color:white;
    display:flex;
    flex-direction:column;
    transition:transform .3s ease;
    z-index:1000;
    overflow-y:auto;
    overflow-x:hidden;
}

/* SCROLLBAR SIDEBAR */
#sidebar-wrapper::-webkit-scrollbar{
    width:6px;
}

#sidebar-wrapper::-webkit-scrollbar-thumb{
    background:#475569;
    border-radius:10px;
}

#sidebar-wrapper::-webkit-scrollbar-track{
    background:transparent;
}

/* SIDEBAR HIDE */
#wrapper.toggled #sidebar-wrapper{
    transform:translateX(-260px);
}

/* PAGE */
#page-content-wrapper{
    margin-left:260px;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    transition:all .3s ease;
}

/* PAGE FULL */
#wrapper.toggled #page-content-wrapper{
    margin-left:0;
}

/* NAVBAR */
.navbar-custom{
    background:#4F46E5;
    flex-shrink:0;
}

/* CONTENT AREA */
#page-content-wrapper > .container-fluid{
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;
}

/* FOOTER */
.footer{
    flex-shrink:0;
    background:white;
    border-top:1px solid #e2e8f0;
}

/* SIDEBAR MENU */
.sidebar-heading{
    font-size:22px;
    font-weight:600;
    padding:20px;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

/* MENU ITEM */
.list-group-item{
    background:transparent;
    border:none;
    color:#CBD5E1;
    padding:14px 20px;
    transition:all .2s ease;
    border-left:4px solid transparent;
    font-weight:500;
}

/* HOVER */
.list-group-item:hover{
    background:#334155;
    color:white;
    padding-left:26px;
}

/* ACTIVE MENU */
.list-group-item.active{
    background:#334155;
    color:white;
    padding-left:26px;
}

/* ICON ACTIVE */
.list-group-item.active i{
    color:white !important;
}

/* ICON DEFAULT */
.list-group-item i{
    width:20px;
}

/* SIDEBAR FOOTER */
.sidebar-footer{
    margin-top:auto;
    padding:20px;
}

/* TABLE */
.table-responsive{
    overflow-x:auto;
}

table{
    min-width:0;
}

/* MOBILE */
@media (max-width:768px){

    #sidebar-wrapper{
        transform:translateX(-260px);
    }

    #wrapper.toggled #sidebar-wrapper{
        transform:translateX(0);
    }

    #page-content-wrapper{
        margin-left:0;
    }

}